URxvt.font: xft:Cantarell:size=14
URxvt.letterSpace: -5


URxvt.scrollBar : false
URxvt.depth : 32
URxvt.background : [65]#000000
URxvt.perl-ext-common: resize-font,fullscreen
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.F11: perl:fullscreen:switch
!! Colorscheme

! special
*.foreground: #eeeeee
*.background: #000000
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #548ca8
*.color12: #93deff

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3
